body{
    background-color: #173F5F;
    color: white;
 
}

p{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}
ol{
    display: table;
    margin: 0 auto;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}
#sectHead{
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: bold;
}
.dropdown-menu li a {
    font-size: 30px;
    font-weight: bold;
}
.navbar-nav > li{
    padding-left:80px;
    padding-right:80px;
  }